{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
  
{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
</head>

<body>
    <section>
        <div class="container">
            <div class="mx-auto">
              <div class="card">
                <div class="card-header text-black" style="background:green">
                  <center><h2>Welcome to Admin Panel</h2><center>
                    <center><h4>Please choose your action</h4><center>
                </div>
            </div>
          </div>
        </div>
      </section>        
    
      
      <form method="post" action="{% url 'e_voting:add_candidate' %}">
        {% csrf_token %}  
        <label for="fname">Candidate Name:</label>
        <input type="text" id="fname" name="fname"><br>
        <input type="submit" value="Add Candidate" class="btn btn-primary my-5" style="font-size: 1.4vw;">
        <input type="hidden" name="next" value="{{ next }}" />
      </form>

      <div class="button_slide slide_left"><a type="button_home" href="{% url 'e_voting:next_state_add_voter' %}" style = "text-decoration: none;color: black">ALL CANDIDATES ADDED</a> </div>
      <br>
</body>
{% endblock %}
</html>