{% extends 'base.html' %}
{% block content %}
<h1>PLEASE CHOOSE YOUR CANDIDATE TO VOTE</h1>
<br><br>
<div class="row">
{% for candidate in candidate_list %}
  <div class="card" style="width: 16rem;">
    <img class="card-img-top" src="/static/vesikalik.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title"><center><strong>{{candidate}}</strong><center></h5>
      
      <form action="{% url 'e_voting:vote' name=candidate %}" method="POST" class="form-group">
        {% csrf_token %}
        <input type="text" name="Address" class="form-control my-3" placeholder="Address" style="text-align: center;" required>
        <input type="text" name="private_key" class="form-control my-3" placeholder="Private Key" style="text-align: center;" required>
        <center><input type="submit" class="btn btn-primary">VOTE</input></center>
    </form>
      
    </div>
  </div>
{% endfor %}

</div>

{% endblock %}